* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Heebo', sans-serif;
  background-color: #d2cece;
  display: flex;
  padding-top: 70px;
  caret-color: #f26006;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.keyboard {
  background-color: #6e716d;
  padding: 10px 20px 9px;
  width: max-content;
  box-shadow: 0 20px 0 #313631;
  border-radius: 12px;
  background-image: url(../assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.keyboard__row {
  margin-bottom: 1px;
}

.row-1 .key {
  margin-right: calc(5rem/14);
}

.row-2 .key {
  margin-right: calc(5rem/15);
}

.row-3 .key {
  margin-right: calc(5rem/13);
}

.row-4 .key {
  margin-right: calc(5rem/12);
}

.row-5 .key {
  margin-right: calc(5rem/11.2);
}

.key {
  filter: opacity(0.97);
  position: relative;
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  padding: 8px 15px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.key::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
  z-index: 2;
  transition: all 0.3s ease;
}

.key-backspace {
  width: 195px;
}

.key-backspace i {
  display: inline-block;
  background-image: url(../assets/img/icons/backspace.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: 40px -5px;
  transform: scale(0.6);
}

.key-tab {
  width: 120px;
}

.key-tab i {
  display: inline-block;
  background-image: url(../assets/img/u-1.png);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -4px;
}

.key-delete {
  width: 75px;
}

.key-pause {
  width: 65px;
}

.key-caps {
  width: 155px;
}

.key-caps i {
  position: relative;
  display: inline-block;
  background-image: url(../assets/img/u-2.png);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-position: 39px 2px;
  background-repeat: no-repeat;
  background-size: contain;
  top: -6px;
}

.key-enter {
  width: 170px;
}

.key-enter i {
  display: inline-block;
  background-image: url(../assets/img/icons/enter.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: 15px -5px;
  transform: scale(0.6);
}

.key-shift {
  width: 160px;
}

.key-shift__left i {
  position: relative;
  display: inline-block;
  background-image: url(../assets/img/u-3.png);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-position: -3px 5px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(0.9);
  top: -6px;
}

.key-shift__right i {
  display: inline-block;
  background-image: url(../assets/img/icons/shift.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: -5px -5px;
  transform: scale(0.6);
}

.key-ctrl i {
  position: relative;
  display: inline-block;
  background-image: url(../assets/img/u-4.png);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(0.9);
  top: -6px;
}

.key-win i {
  position: relative;
  display: inline-block;
  background-image: url(../assets/img/u-5.png);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-position: -10px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(1.2);
  top: -6px;
}

.key-ctrl,
.key-win,
.key-alt {
  width: 90px;
}

.key-space {
  width: 415px;
}

.key-space,
.key-tab,
.key-caps,
.key-shift,
.key-ctrl,
.key-win,
.key-alt,
.key-enter,
.key-backspace,
.key-delete {
  background: linear-gradient(162deg, rgb(171, 61, 226) 40%, rgba(100, 189, 57, 1) 60%);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite, boxmove 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes boxmove {
  0% {
    box-shadow: -4px -10px 20px rgba(173, 29, 230, 0.25), 10px 5px 25px rgba(25, 238, 14, 0.15);
  }

  50% {
    box-shadow: -4px -10px 25px rgba(190, 51, 244, 0.25), 10px 5px 25px rgba(51, 244, 41, 0.15);
  }

  100% {
    box-shadow: -4px -10px 25px rgba(173, 29, 230, 0.25), 10px 5px 25px rgba(25, 238, 14, 0.15);
  }

}

.key-space:before,
.key-tab:before,
.key-caps:before,
.key-shift:before,
.key-ctrl:before,
.key-win:before,
.key-alt:before,
.key-enter:before,
.key-backspace:before,
.key-delete:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #1d1d1d, #4a4a4a);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
  z-index: 2;
  transition: all 0.3s ease;
}

.key i {
  position: relative;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  z-index: 2;
}

.key i::before {
  content: attr(data-sub-name);
  position: absolute;
  top: 15px;
  right: -20px;
  font-size: 1rem;
}


/* .active::before, */
.active {
  box-shadow: 0px 0px 20px rgb(171, 61, 226),
    0px 0px 15px rgb(171, 61, 226),
    0px 0px 17px rgb(245, 244, 244);
  transform: scale(0.98);
}

.active i {
  color: rgb(171, 61, 226);
}

.key-space.active i {
  filter: drop-shadow(0 0 10px #e9890d);
}

.key-space.active::before {
  box-shadow: inset 0px 0px 15px #228aec;
  border: 0;
}

.key-caps.active i,
.key-tab.active i,
.key-ctrl.active i,
.key-win.active i,
.key-shift__left.active i {
  filter: drop-shadow(0 0 10px #f47608);
}

/*textarea*/
.textarea {
  background-color: #ddd;
  color: #666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.4;
  width: 1180px;
  height: 400px;
  resize: none;
  margin-bottom: 50px;
}

.key-space i {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/katana.png);
  position: relative;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  transform: scale(0.9);
  bottom: 10px;
  filter: drop-shadow(0 0 20px #f34c19);
}

@media screen and (max-width: 1200px) {
  .textarea {
    width: 960px;
  }
}

@media screen and (max-width: 1200px) {
  .keyboard {
    width: 960px;
  }

  .key {
    width: 53px;
    height: 52px;
  }

  .key-backspace {
    width: 145px;
  }

  .key-tab {
    width: 90px;
  }

  .key-delete {
    width: 55px;
  }

  .key-pause {
    width: 65px;
  }

  .key-caps {
    width: 120px;
  }

  .key-enter {
    width: 130px;
  }

  .key-caps i {
    background-position: 25px 2px;
  }

  .key-shift__left {
    width: 130px;
  }

  .key-shift__right {
    width: 115px;
  }

  .key-ctrl {
    width: 70px;
  }

  .key-win {
    width: 70px;
  }

  .key-space {
    width: 390px;
  }

  .key-win i {
    background-position: -2px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.2);
  }

  .key i {
    font-size: 1rem;
  }
}